body{
    background-image:url(../images/pictures/background-login.jpg);
    background-repeat: repeat;
}

.conteudo-da-pagina {
    width: 50%;
    margin: auto;
}

.container , h1{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}
.nav-link{
    color:black;
    font-weight: bold;
    margin-left: 15px;
}

.col{
    padding: 5%;
}



.navbar{
    background-color: rgb(35, 149, 153);
}