#conteudo-da-pagina {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image:url(../images/pictures/background-login.jpg);
    background-repeat: repeat;
}

#prox-pag {
    padding: 5px;
    background-color: lightsalmon;
}
.navbar{
    background-color: coral;
}