
.imgtitulo{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.imgsubtitulo{
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.botoes-inscricao{
    display: flex;
    width: 100%;   
}

main{
    display: flex;
    flex-direction: column;
}
.bannerInicio{
    width: 100%;
    height: 500px;
    display: flex;  
    justify-content: space-between;
    align-items: center;
    
}
.navbar{
    background-color: rgb(35, 149, 153);
}
.btncadastro{
   display: flex;
   justify-content: center;
   align-items: center;
}
.fonteh2{
    font-family: Ms Madi;
}
.icons-list{
    width: 260px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
ol{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 15%;
}


