main {
    display: flex;
    justify-content: center;
}

.form-login {
    font-size: 18px;
    background: rgba(124, 32, 32, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 8px;
    padding: 2%;
    width: fit-content;
}

.margin1 {
    margin-top: 5%;
    padding: 1% 10%;
}

.margin2 {
    margin-top: 1%;
    padding: 1% 10%;
}

.btn {
    border-radius: 10px;
    color: rgb(10, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;

}

.btn-primary {
    background-color: rgb(35, 149, 153);
}

.rcpsenha {
    display: flex;
    justify-content: end;
    margin-right: 20px;
}