main {
    background: url('../images/pictures/background-img-geometric.png');
    background-color: coral;
    background-blend-mode: overlay;
    display: flex;
    justify-content: center;
}

main>div {
    padding: 20px 0;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.808);
    backdrop-filter: blur(5px);
}

.bloco {
    margin-top: 2%;
    padding: 2%;
    min-height: 200px;
    width: 90%;
    margin: auto;
    align-items: center;
    border-top: 3px dashed rgb(228, 228, 228);
}

.texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
}

picture {
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    align-items: center;
    justify-content: end;
}

h2,
h3 {
    text-align: center;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.textproduto {
    align-items: center;
    width: 20%;
    padding: 1%;
    font-size: 19px;
}