* {
    width: 100%;
    height: 100%;
    padding: 0%;
    background-image: url(https://c8.alamy.com/comp/2GPN4YM/poland-23rd-sep-2021-in-this-photo-illustration-a-tinder-logo-seen-displayed-on-a-smartphone-photo-by-mateusz-slodkowskisopa-imagessipa-usa-credit-sipa-usaalamy-live-news-2GPN4YM.jpg);
    background-repeat: no-repeat;
}

