*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
}
body{
    background-color: #001b35;
    min-height: 100vh;
    display: flex;
    align-items: center;
}
.tabelaPreco{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: min(1600px, 100%);
    margin: auto;
}
.cardPreco{
    flex: 1;
    max-width: 300px;
    background-color: #0d2e4c;
    margin: 20px 10px;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    color: #0fbcf9;
    transition: .3s linear;
}
.cardPreco:hover .cardTitulo{
    box-shadow: 0 0 0 26em #0fbcf9;

}
.cardTitulo{
    background-color: #0fbcf9;
    display: inline-block;
    color: #fff;
    padding: 12px 30px;
    border-radius: 0 0 20px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    transition: 4s line;
}
.preco{
    font-size: 70px;
    color: #0fbcf9;
    margin: 40px 0;
    transition: 2s linear;
}
.preco sup, .preco span{
    font-size: 22px;
    font-weight: 700;
}
.cardPreco:hover, .cardPreco:hover .preco{
color: #fff;
}
.cardPreco li{
    font-size: 16px;
    padding: 10px 0;
    text-transform: uppercase;
}
.btn{
    display: inline-block;
    margin-bottom: 40px;
    margin-top: 80px;
    border: 2px #0fbcf9 solid;
    color: #0fbcf9;
    padding: 18px 40px;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: 500;
    transition: .3% linear;
}
.btn:hover{
    background-color: #a6c620;
    color: #fff;
}

